*~
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/themes/*.edj
data/themes/Makefile
data/themes/Makefile.in
libtool
ltmain.sh
Makefile
Makefile.in
po/Makefile
po/POTFILES
po/remove-potcdate.sed
src/.deps/
src/Makefile
src/Makefile.in
src/mokojeweled
src/*.o
stamp-h1
