*~
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/themes/*.edj
data/themes/Makefile
data/themes/Makefile.in
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
po/Makefile
po/Makefile.in.in
po/POTFILES
po/remove-potcdate.sed
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/mokojeweled
src/*.o
stamp-h1
